.chargesListView(ng-controller="profits.profitsViewCtrl")
    .row
        .span12
            ul.nav.nav-tabs
                li(ng-repeat="year in years", ng-class="{active: year == selectedYear}")
                    a(ng-click="changeYear(year)") {{year}}
                li(ng-class="{active: selectedYear == null}")
                    a(ng-click="changeYear(null)") Tout

            #toolbar
                h1 Bénéfices

            table.table.table-condensed.profits
                thead
                    tr
                        th.week Semaine
                        th Chiffres d'affaires
                        th Charges
                        th.total Bénéfices
                tbody
                    tr(ng-repeat="stat in stats")
                        td.week {{stat.week|date}}
                        td.currency {{stat.totalSales|currency}}
                        td.currency {{stat.totalCharges|currency}}
                        td.currency.total {{stat.profits|currency}}
                tfoot
                    tr
                        th.week Semaine
                        th Chiffres d'affaires
                        th Charges
                        th.total Bénéfices
                    tr
                        th.total Total
                        th.currency.total {{totals.totalSales|currency}}
                        th.currency.total {{totals.totalCharges|currency}}
                        th.currency.total {{totals.profits|currency}}
    .row(ng-init="zoom = 1.0")
        .span12
            button.btn.btn-mini(ng-click="zoom = zoom + 0.1")
                i.icon.icon-plus
            button.btn.btn-mini(ng-click="zoom = zoom - 0.1")
                i.icon.icon-minus
        .span12
            chart(data="data",
                type="line"
                title="Bénéfices",
                width="{{960 * zoom}}", height="500",
                select="selectRow(selectedRowIndex)")
    .row(ng-init="zoom = 1.0")
        .span12
            button.btn.btn-mini(ng-click="zoom = zoom + 0.1")
                i.icon.icon-plus
            button.btn.btn-mini(ng-click="zoom = zoom - 0.1")
                i.icon.icon-minus
        .span12
            chart(data="data",
                type="column"
                title="Bénéfices",
                width="{{960 * zoom}}", height="500",
                select="selectRow(selectedRowIndex)")